.modal-container {
    margin: 0 auto;
}

table {
    width: 100%;
    margin-bottom: 1rem;
}

.slds-modal__header,
.slds-modal__footer {
    background-color: #f3f6f9;
}

.slds-modal__content {
    max-height: 50vh;
    overflow-y: auto;
}