.slds-illustration{
    display: flex;
    flex-direction: column;
    align-content: center;
    place-content: center;
    padding: 16px;
    height: 100%;
    width: 100%;
}
.svg-container {
    min-height: 0px;
    display: flex;
    width: 100%;
    place-content: center;
}
.greyscale .svg-container {
    filter: grayscale(1);
}